*  {
    box-sizing: border-box;
}

body.container {
    flex: 1 0 0;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(240, 233, 233);
    background-color: rgba(33, 31, 31, 0.623);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: rgb(245, 240, 240);
    font-size: 20px;
}

a:hover {
    color: black;
}

header {
    display: flex;
}

h1 {
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
    flex: 49%;
    color: rgb(245, 240, 240);}

nav {
    height: 100px;
    display: flex;
}

nav ul {
    display:flex;
    flex-wrap: wrap;
    margin: auto 35px 20px auto;
}

li {
    margin: .75em;
    list-style-type: none; 
}

/* h2 titles for each main section, situated on the left-side of the screen */
.titles {
    text-align: center;
    width: 17%;
    height: 100%;
    color: rgb(245, 240, 240);
    font-size: 25px;
    border-right: 2px double rgb(240, 233, 233);
}


/* Styled main sections */
.section {
    padding: 20px;
    border: 1px solid rgb(240, 233, 233);  
    position: relative;
    margin: 20px;
}

/* Bio section */
div#bio {
    width: 95%
}

.bio img {
    width: 13%;
    height: auto;
    position: absolute;
    right: 2%;
    top: 0;
    z-index: 2;
}

p {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-right: 13%;
    z-index: 1;
    color: aliceblue;
    font-size: 20px;
}

/* Github Work section */
.section portfolio-grid {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    margin: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-box {
    position: relative;
    width: 94%;
    margin-left: 3%;
}

.box2and3 {
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
}

/* project 1 */
.main-image img { 
    flex: 1 0 0;
    width: 100%;
    height: auto;
    border: 2px black solid;

} 

/* allows for later absolute positioning in the banners */
.secondary-images {
    position: relative;

}

/* project 2 */
#image2 img {
    width: 100%;
    height: 250px;
    border: 2px black solid;
}

/* project 3 */
#image3 img  {
    width: 100%;
    height: 250px;
    border: 2px black solid;
}

/* each banner has a different placement depending on the image its superimposed on */
#banner1 {
    position: absolute;
    background-color: rgb(89, 88, 88);
    left: 3%;
    text-align: center;
    top: 10%;
    text-decoration: underline;
    border-radius: 10px;
    border: 2px red solid;
}

#banner2 {
    position: absolute;
    background-color: rgb(101, 99, 99);
    left: 5%;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
    border: 1px black solid;
    z-index: 1;
}

#banner3 {
    position: absolute;
    background-color: rgb(94, 92, 92);
    right: 5%;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
    border: 1px black solid;
    z-index: 1;
}

footer {
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

footer ul {
    margin-top: -20px;
    padding: 30px 0 20px 50px;
    width: 100%;
}

footer li {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

 

/*screen responsiveness*/
@media screen and (max-width: 980px) {
    header 
    footer {
        flex-direction: column;
        }
    /* this realigns the photo with the border as the screen shrinks */
    .bio img {
        top: 0px;
        width: 15%;
    }
}    
     
      
@media screen and (max-width: 768px) {
    header 
    footer {
        flex-direction: column;
    }
    /* Eliminate the double border that off-set titles */
    .titles {
        border: none;
    }
    p {
        margin-right: 25%;
        font-size: 18px;
    }
    #image2 img 
    #image3 img {
        width: fit-content;
        height: 150px;
    }
    /* allows the banner to shrink and fit smaller screen sizes */
    .banner {
        width: 25%;
        font-size: small;
    }
    .bio img {
        width: 25%;
    }
}

@media screen and (max-width: 481px) {
    header 
    footer  
    .section bio {
        flex-direction: column;
    }

    p {
        font-size: 13px;
    }
    
    h1 
    .titles {
        font-size: 15px;
     } 

    .titles {
        width: auto;
        text-align: left;
    }
}

