* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: rgb(245, 240, 240);
    font-size: 20px;
}

.container {
    flex: 1 0 0;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    
}

header {
    display: flex;
    background-color: rgb(155, 110, 110);
}

h1 {
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
    flex: 49%;
    color: rgb(245, 240, 240);}

nav {
    height: 100px;
    display: flex;
}

nav ul {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

li {
    margin: .75em;
    list-style-type: none; 
}

a :hover ::after {
    color: rgb(26, 4, 4);
}

.titles {
    text-align: center;
    width: 17%;
    height: 100%;
    border-right: 2px double black;
}

/* Styled main sections */
.section {
    background-color: rgb(155, 110, 110);;
    padding: 20px;
    border: 1px solid black;  
}
/* Short Bio section */
#bio img {
    width: 250px;
    height: auto;
    float: right;
}

p {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 0 15px;
}

/* Github Work section */
.portfolio-grid {
    position: relative;
    display: grid;
    /* Three rows of projects */
    /* grid-template-rows: 50% 15% 15% 15% 15%; */
    grid-template-columns: 50% 50%;
    border: 1px solid black;
    padding: 5px;
    margin: 20px;
    width: 96%;
}

/* project 1 */
#main-image img { 
    /* flex: 2; */
    width: 100%;
    height: auto;

} 

/* project 2 */
#road img {
    width: 100%;
    height: 250px;
}

/* project 3 */
#electrons img  {
    width: 100%;
    height: 250px;
}

/* label across the work image */
.banner {
    position: absolute;
    background-color: darkgrey;
    top: 80%;
    left: 0;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

footer  {
    background-color: rgb(155, 110, 110);; 
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

footer li {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
}


/*screen responsiveness*/
@media screen and (max-width: 980px) {
    header 
    footer {
        flex-direction: column;
        }
    
}
     
      
@media screen and (max-width: 768px) {
    header 
    footer {
        flex-direction: column;
    }
    .titles {
        border: none;
    }
    #bio img {
        width: 150px;   
        height: auto;
    }
}

@media screen and (max-width: 481px) {
    header 
    footer  {
        flex-direction: column;
    }
    #bio img {
        float: left;
    }
    h1 
    .titles {
        font-size: 15px;
    }
    /* I want these to stack on each other but they didn't
    h1 
    ul {
        flex-direction: column;
    } */
}

